* {
  box-sizing: border-box;
}
body {
  font-family: Helvetica;
  background: #f3f5f6;
}
.half {
  float: left;
  width: 50%;
  padding: 10px;
}
.row {
  overflow: auto;
  margin: 0 -10px;
}
.inputs {
  max-width: 300px;
  margin: 40px auto;
}
.btn {
  text-decoration: none;
  padding: 14px 10px;
  background: #eee;
  border: 1px solid #ccc;
  color: inherit;
}
#submit {
  margin: 10px auto;
  display: block;
  width: 100%;
  font-size: 14px;
  text-align: center;
}
input {
  padding: 20px 10px;
  text-align: center;
  font-size: 24px;
  width: 100%;
}
#result {
  margin: 0 auto;
  font-size: 30px;
  text-align: center;
}
